body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(102, 87, 87);
}

a {
  color: gray;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li.nav-section {
  margin: 0.5em;
  padding: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a.nav {
  color: silver;
}

a.nav:visited {
  color: gray;
}

a.nav:hover {
  color: white;
}

a.nav:active {
  color: white;
}
